
@{
    ViewData["Title"] = "BlogListToExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Raporu</h1>
<br />
<a href="/Admin/Rapor/ExportBlogListDynamicExcel" class="btn btn-primary">Excel Listesini İndir</a>

