@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link rel="stylesheet" href="~/CoreBlogTema/todo.css">

<div class="container">
    <h1>Eklenecek özellikler</h1>
    <ul>
        <li>
            <div>
                <p>Blog detay sayfasında eğer bloğa bir yorum yapılmadı ise "Henüz hiç yorum yapılmadı, ilk yorumu siz yapın" şeklinde mesaj yazdırılacak. Eğer yorum yapıldıysa yorumlar listelenecek</p>
                <img src="~/CoreBlogTema/todo1.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Kayıt işlemi yapılırken girilen 2 şifre eşleşmiyorsa kayıt işlemi yapılmasın. Girilen iki şifre aynı ise kayıt işlemi gerçekleşsin.</p>
                <img src="~/CoreBlogTema/todo2.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Kayıt sayfasında, viewmodel kullanarak dropdown list ile şehirler gösterilecek. DB ye kayıt edilmesine gerek yok.</p>
                <img src="~/CoreBlogTema/todo3.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Şifre validasyonunda şifrede en az "1 Büyük, 1 Küçük harf ve 1 Sayı olması kontrol edilecek.</p>
                <img src="~/CoreBlogTema/todo4.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Abone ol butonuna basıldığında, yandaki sayfaya gitmeden veri tabanına kayıt etme işlemi yapılacak. - Aynı sorun yorum yapma kısmında da var. Orası da düzeltilecek </p>
                <img src="~/CoreBlogTema/todo5.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Durum sutununda true yazanlarda aktif, false yazanlarda pasif yazılacak ve arka planlarına yeşil-kırmızı renk eklenecek</p>
                <img src="~/CoreBlogTema/todo6.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Silme butonuna tıklanıldığında bir pop-up açılacak ve onayalama yapıldıktan sonra silme işlemi gerçekleştirilecek. Ayrıca butonuna basıldığında durumu false yapılacak ve silme butonu aktif et olarak değiştirilecek.</p>
                <img src="~/CoreBlogTema/todo7.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Güncelleme işleminden önce şifre onaylaması yapılacak ve sonrasında güncelleme işlemi gerçekleştirilecek.</p>
                <img src="~/CoreBlogTema/todo8.png" alt="" />
            </div>
        </li>
        <li>
            <div>
                <p>Bildirim türü ve bildirim renkleri optimizasyon edilecek.</p>
                <img src="~/CoreBlogTema/todo9.png" alt="" />
            </div>
        </li>
    </ul>
</div>