@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />

<div class="row">
    <div class="col-md-2">
        <button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
    </div>
    <div class="col-md-2">
        <button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
    </div>
    <div class="col-md-2">
        <button type="button" id="btnaddwriter" class="btn btn-info">Yazar Ekle</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="btndeletewriter" class="btn btn-danger">Yazar Sil</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="btnupdatewriter" class="btn btn-warning">Yazar Güncelle</button>
    </div>
</div>
<br />
<br />
<div class="row">

    <div class="col-md-2" id="writerlist">
        Buraya yazarlar gelecek
    </div>
    <div class="col-md-2">
        <div id="getwriter">
        </div>
        <div>
            <input type="text" id="writerid" placeholder="Buraya yazar id girin" class="form-control" />
        </div>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="txtwriterid" placeholder="Yazar ID" />
        <br />
        <input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı" />
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="txtdeletewriterid" placeholder="Yazar ID" />
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="txtupdatewriterid" placeholder="Yazar ID" />
        <br />
        <input type="text" class="form-control" id="txtupdatewritername" placeholder="Yeni isim" />
    </div>
</div>

<br />
<br />
<br />

<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>John Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a1.jpg">
                                <div class="m-t-xs font-bold">CEO</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Alex Johnatan</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a3.jpg">
                                <div class="m-t-xs font-bold">Marketing manager</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Monica Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a4.jpg">
                                <div class="m-t-xs font-bold">Sales manager</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Michael Zimber</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a5.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Sandra Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a6.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Janet Carton</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a1.jpg">
                                <div class="m-t-xs font-bold">CEO</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Alex Johnatan</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>John Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a3.jpg">
                                <div class="m-t-xs font-bold">Marketing manager</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Monica Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a4.jpg">
                                <div class="m-t-xs font-bold">Sales manager</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Michael Zimber</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a5.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Sandra Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a6.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Janet Carton</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a1.jpg">
                                <div class="m-t-xs font-bold">CEO</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>Alex Johnatan</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a class="row" href="profile.html">
                        <div class="col-4">
                            <div class="text-center">
                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                                <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3><strong>John Smith</strong></h3>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>





@section scripts {
<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/Writer/WriterList",
            success: function(func) {
                let writers = jQuery.parseJSON(func);
                let tableHTML ="<table class=table table-bordered>"+
                                  "<tr>" +
                                      "<th> ID </th>" +
                                      "<th> Yazar Adı </th>" +
                                  "</tr>";
                $.each(writers,(index,value) => {
                    tableHTML+= `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                });
                tableHTML += "</table>";
                $("#writerlist").html(tableHTML);
            }
        })
    });

    $("#btngetbyid").click(x => {
        let id=$("#writerid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/Writer/GetWriterById/",
            data: {writerid: id},
            success: function(func) {
                let writer = jQuery.parseJSON(func);

                let getvalue=`<table class=table table-bordered> <tr><th>Yazar ID</th><th>Yazar Adı</th></tr><tr><td>${writer.Id}</td><td>${writer.Name}</td></tr></table>`;
                $("#getwriter").html(getvalue)
            }
        })
    })

    $("#btnaddwriter").click(function () {
        let writer = {
            Id: $("#txtwriterid").val(),
            Name: $("#txtwritername").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/Writer/AddWriter/",
            data: writer,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Yazar ekleme başarılı");
            }
        });
    });

    $("#btndeletewriter").click(x => {
         let id = $("#txtdeletewriterid").val();

         $.ajax({
             url: "/Admin/Writer/DeleteWriter/" + id,
             type: "post",
             dataType: "json",
             success: function (func) {
                alert("Yazar silme başarılı");
            }
         })
    });

    $("#btnupdatewriter").click(function() {
        let writer = {
            Id: $("#txtupdatewriterid").val(),
            Name: $("#txtupdatewritername").val()
        };

        $.ajax({
            type:"post",
            url:"/Admin/Writer/UpdateWriter/",
            data: writer,
            success: function(func) {
                alert("Güncellemek yapildi");
            }
        })
    })

</script>
}
